@import '@/styles/app/variables.scss';

.ds-header {
  width: 100%;
  padding: 0 20px 20px;
  border-radius: 0.475rem;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h1 {
    margin: 0;
    font-weight: bold;
    color: $ds-gray-900;
    gap: 8px;
    & > svg {
      stroke: $ds-primary !important;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.475rem;
    background-color: $ds-gray-200;
    & * {
      color: $ds-gray-900;
      height: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .ds-header {
    padding: 0 0 20px 0;
  }
}
