@import "@/styles/app/variables.scss";

.ds-wrapper {
  width: 100%;
  border-radius: 0.6rem;
  background-color: $ds-gray-100;
  border: 1px solid $ds-gray-200;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  &__mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
