node_modules
reports
tests
tools
.dockerignore
.idea
.vscode
.git
.eslintrc
.gitignore
.huskyrc
.lintstagedrc
.nycrc
.prettierignore
.prettierrc
CHANGELOG.md
Dockerfile
docker-compose.yaml
README.md
.env*
env-config.js

