PUBLIC_API_URL=http://localhost:8000
PUBLIC_ES_API_URL=http://localhost:8001
NODE_ENV=development
GOOGLE_OAUTH_ID=900005146919-3uf9g76ir38ms5asm4s94ohka61b49nh.apps.googleusercontent.com
APP_URL=http://localhost:3000
PUBLIC_CHATBOT_URL=http://localhost:3001
PUBLIC_STATS_URL=https://stats.elections24.efcsn.com/efcsn-back-statistics/?token=JyoAFfm869ZjY69CAZUjNpQBCRdxZ8zv&embed=true
PUBLIC_TRENDS_URL=https://stats.elections24.efcsn.com/efcsn-back-trendings/?token=P9CbJmPjDjS6K4H3ToDSERWAdhmfK3jd&embed=true
PUBLIC_SECTIONS=admin.organizations,admin.users,data.articles,repository.search,repository.trends,stats.dashboard,stats.narratives,chatbot
PUBLIC_SEARCH_API_KEY=16023q3d656el6lfira12gbrsbu16thm6r6edck8m232gr28eb7o