PUBLIC_API_URL=http://localhost:8000
PUBLIC_ES_API_URL=http://localhost:8001
NODE_ENV=development
GOOGLE_OAUTH_ID=900005146919-3uf9g76ir38ms5asm4s94ohka61b49nh.apps.googleusercontent.com
APP_URL=http://localhost:3000
PUBLIC_CHATBOT_URL=http://localhost:3001
PUBLIC_STATS_URL="https://efcsn-statistics-back-statistics.streamlit.app/?token=9zBvoHDiyBVVzCwfGvU6Bad5S6TmTN4M&embed=true"
PUBLIC_TRENDS_URL="https://efcsn-statistics-back-trendings.streamlit.app/?token=V7EJFzb7QrnccQZYNeWcvc8RBoyUjfSg&embed=true"