@import "@/styles/app/variables.scss";

.ds-app {
  width: 100%;
  min-height: 100dvh;
  height: max-content;
  display: grid;
  background: linear-gradient($ds-gray-50, $ds-white);
  &--collapsed {
    grid-template-columns: 74px auto;
  }

  &--regular {
    grid-template-columns: 270px auto;
  }

  &-ab {
    width: 100%;
    border-style: none;
    cursor: pointer;
    color: $ds-gray-700;
    text-align: left;
    padding: 10px;
  }
  &__main {
    padding: 93px 20px 20px 20px;
    height: max-content;
    min-height: calc(100dvh);
    border-bottom: 1px solid $ds-gray-200;
  }

  &__mobile {
    width: 100%;
    background: linear-gradient($ds-gray-50, $ds-white);
  }
}
