@import '@/styles/app/variables.scss';

.ds-preset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  & > h6 {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    color: $ds-gray-600;
  }
  & > span {
    font-size: 15px;
    font-weight: 500;
    color: $ds-gray-800;
  }
}
