@import "@/styles/app/variables.scss";

.ds-btn {
  &--primary {
    transition: all 200ms !important;
    background-color: $ds-primary;
    color: $ds-white;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $ds-primary !important;
      opacity: 0.9;
      color: $ds-gray-100;
    }
    &:focus {
      background-color: $ds-primary !important;
      opacity: 0.8;
      color: $ds-gray-200 !important;
    }
    &:active {
      background-color: $ds-primary !important;
      opacity: 0.8;
      color: $ds-gray-200 !important;
      transform: scale(0.9825);
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: $ds-gray-400 !important;
    }
  }
  &--attention {
    transition: all 200ms !important;
    background-color: $ds-negative;
    color: $ds-white;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $ds-negative !important;
      opacity: 0.9;
      color: $ds-gray-100;
    }
    &:focus {
      background-color: $ds-negative !important;
      opacity: 0.8;
      color: $ds-gray-200 !important;
    }
    &:active {
      background-color: $ds-negative !important;
      opacity: 0.8;
      color: $ds-gray-200 !important;
      transform: scale(0.9825);
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: $ds-gray-400 !important;
    }
  }
  &--secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 200ms !important;
    background-color: $ds-gray-100;
    color: $ds-gray-800;
    &:hover {
      background-color: $ds-gray-200 !important;
      opacity: 0.9;
      color: $ds-gray-800;
    }
    &:focus {
      background-color: $ds-gray-300 !important;
      opacity: 0.8;
      color: $ds-gray-900;
    }
    &:active {
      background-color: $ds-gray-300 !important;
      opacity: 0.8;
      color: $ds-gray-900;
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: $ds-gray-400 !important;
    }
  }

  &--tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 200ms !important;
    background-color: transparent;
    border: 1px solid $ds-gray-400 !important;
    box-sizing: border-box !important;
    color: $ds-gray-800;
    &:hover {
      background-color: $ds-gray-200 !important;
      opacity: 0.9;
      color: $ds-gray-800;
    }
    &:focus {
      background-color: $ds-gray-300 !important;
      opacity: 0.8;
      color: $ds-gray-900;
    }
    &:active {
      background-color: $ds-gray-300 !important;
      opacity: 0.8;
      color: $ds-gray-900;
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: $ds-gray-400 !important;
    }
  }

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms !important;
    background-color: $ds-gray-300 !important;
    cursor: not-allowed !important;
    &:disabled {
      background-color: $ds-gray-400 !important;
    }
    &:hover {
      background-color: $ds-gray-400 !important;
    }
    &:active {
      background-color: $ds-gray-400 !important;
    }
    &:focus {
      background-color: $ds-gray-400 !important;
    }
  }
}
