@import '@/styles/app/variables.scss';

.ds-ee24-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  width: 100%;
  position: relative;
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    gap: 20px;
  }
  &__container {
    padding: 0;
    width: 100%;
    padding-bottom: 0;
    position: relative;
    height: 100%;
    // max-height: fit-content !important;
  }
  &__bg--white {
    background-color: $ds-white;
  }
  &__apply {
    width: 100%;
    position: sticky;
    bottom: 0px !important;
    top: 200px !important;
    padding-bottom: 20px;
    background: linear-gradient(transparent, $ds-gray-200) !important;
  }
  &__empty {
    width: 100%;
    height: 0px;
  }
}
