@import '@/styles/app/variables.scss';

.ds-table {
  width: 100%;
  & > thead > tr > th {
    padding-top: 8px !important;
    padding-bottom: 16px !important;
  }
  &-column {
    &--extended:first-child {
      width: 50% !important;
    }
  }

  & > tbody > tr {
    transition: all 200ms;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    &:hover {
      background-color: $ds-gray-100;
    }
  }

  &__container {
    width: 100%;
  }

  &__empty {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-row {
    &__item {
      text-overflow: ellipsis !important;
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
