.ds-row {
  display: flex;
  align-items: center;
  width: 100%;

  &--LEFT {
    justify-content: flex-start;
  }
  &--RIGHT {
    justify-content: flex-end;
  }
  &--CENTER {
    justify-content: center;
  }
  &--SPACE {
    justify-content: space-between;
  }
}
