.ds-row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 8px;

  &--LEFT {
    justify-content: flex-start;
  }
  &--RIGHT {
    justify-content: flex-end;
  }
  &--CENTER {
    justify-content: center;
  }
  &--SPACE {
    justify-content: space-between;
    gap: 20px;
  }
}
