@import '@/styles/app/variables.scss';

.ds-navbar {
  height: 73px;
  padding: 20px;

  border-bottom: 1px solid $ds-gray-200;
  display: flex;
  z-index: 99;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--paper);

  &__left {
    width: calc(100% - 174px);
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    &-input > div {
      width: 100%;
    }
    &-input {
      &__clip {
        cursor: pointer;
        height: 28px;
        min-height: 28px;
        max-height: 28px;
        width: 28px;
        min-width: 28px;
        max-width: 28px;
        border-radius: 0.475rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        transform: translateX(-44px);
        &:hover {
          background-color: $ds-gray-200;
        }
      }
    }
    & * {
      height: 42px !important;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px !important;
    }
  }
}
