@import '@/styles/app/variables.scss';

.ds-date-picker {
  & *::placeholder {
    color: $ds-gray-500 !important;
    font-weight: 500;
  }
  & * {
    color: $ds-gray-700 !important;
    font-weight: 500 !important;
    outline: none !important;
    box-shadow: none !important;
  }
  &:hover {
    border-color: $ds-gray-300;
  }
}
