@import '@/styles/app/variables.scss';

.ds-not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  &__image {
    max-width: 400px;
    max-height: 200px;
    border-radius: 0.475rem;
    filter: grayscale(1);
    opacity: 0.6;
    margin-bottom: 16px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h3 {
      color: $ds-gray-900;
      font-weight: 600;
    }
    & > p {
      color: $ds-gray-700;
      font-weight: 400;
    }
  }
}
