.ds-message {
  &--right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    // transform: translateX(40px);

    &-t {
      display: flex;
      padding: 2px 8px;
      border-radius: 0.475rem;
      border-bottom-right-radius: 0;
      justify-content: flex-end;
      align-items: center;
      color: $ds-gray-700;
      text-align: right;
      background-color: $ds-gray-100;
    }
    &-avatar {
      margin-left: 8px;
      width: 32px;
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      min-height: 32px;
      max-height: 32px;
      border-radius: 0.475rem;

      background-color: $ds-gray-200;
      border: 1px solid $ds-gray-300;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &--left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
    // transform: translateX(-40px);
    &-t {
      color: $ds-gray-700;
      padding: 2px 8px;
      border-radius: 0.475rem;
      border-bottom-left-radius: 0;
    }

    &-avatar {
      margin-right: 8px;
      width: 32px;
      min-width: 32px;
      max-width: 32px;
      height: 32px;
      min-height: 32px;
      max-height: 32px;
      border-radius: 0.475rem;

      background-color: $ds-primary;
      border: 1px solid $ds-primary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-welcome {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    &__questions {
      color: $ds-gray-700;
      border-radius: 0.475rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      //   border: 1px solid $ds-gray-400;
      //   background-color: $ds-gray-200;
      &-item {
        transition: all 200ms;
        border: 1px solid $ds-gray-500;
        background-color: $ds-gray-50;
        text-align: center;
        color: $ds-gray-700;
        height: 100%;
        box-shadow:
          0px 2px 4px 0px rgba(7, 20, 55, 0.05),
          0px 6px 6px 0px rgba(7, 20, 55, 0.001),
          0px 15px 9px 0px rgba(7, 20, 55, 0.01),
          0px 26px 10px 0px rgba(7, 20, 55, 0.01),
          0px 41px 11px 0px rgba(7, 20, 55, 0);
        padding: 4px 8px;

        border-radius: 0.465rem;
        &:hover {
          background-color: $ds-gray-200;
        }
      }
    }
  }
}

a {
  color: $ds-primary !important;
}

.ds-messages-width {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__container {
    width: 100%;
    max-width: 600px;
  }
}
