$ds-white: #fff;
$ds-gray-100: #f9f9f9;
$ds-gray-200: #f1f1f4;
$ds-gray-300: #dbdfe9;
$ds-gray-400: #c4cada;
$ds-gray-500: #99a1b7;
$ds-gray-600: #78829d;
$ds-gray-700: #4b5675;
$ds-gray-800: #252f4a;
$ds-gray-900: #071437;

$ds-primary: #00986d;
$ds-secondary: #003223;
$ds-tertiary: #fac841;
