@import '@/styles/app/variables.scss';

.ds-footer {
  background-color: $ds-gray-100;
  padding: 40px 20px;

  &__last_row {
    background-color: $ds-white !important;
    padding: 40px 20px;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    max-width: 300px;
    gap: 20px;
    & > a {
      color: $ds-gray-700;
      text-decoration: underline;
    }
  }
  &__contact {
    margin: 0;
    font-weight: 400;
    text-align: center;
    max-width: 300px;
    color: $ds-gray-600;
    & > a {
      margin-left: 4px;
      font-weight: 500;
      color: $ds-gray-900 !important;
      text-decoration: underline;
    }
  }

  &__center {
    margin: 0 auto;
    font-weight: 400;
    text-align: justify;
    max-width: 630px;
    color: $ds-gray-600;
    padding-right: 30px;
  }

  &__right {
    gap: 20px;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > span {
      color: $ds-gray-600;
      line-height: 16px;
      size: 14px;
    }
  }

  &__space {

    padding: 0;
    border-top: 1px solid $ds-gray-300;
    width: 100%;
  }
}
