@import "@/styles/app/variables.scss";

.ds-icon-button {
  transition: all 200ms;
  border-style: none;
  background-color: $ds-white;
  border: 1px solid $ds-gray-400;
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
  // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
  //   0px 2px 2px 0px rgba(0, 0, 0, 0.09), 0px 5px 3px 0px rgba(0, 0, 0, 0.05),
  //   0px 8px 3px 0px rgba(0, 0, 0, 0.01), 0px 13px 4px 0px rgba(0, 0, 0, 0);
  &:hover {
    background-color: $ds-gray-100;
  }
  &:hover {
    background-color: $ds-gray-200 !important;
    opacity: 0.9;
    color: $ds-gray-800;
  }
  &:focus {
    background-color: $ds-gray-300 !important;
    opacity: 0.8;
    color: $ds-gray-900;
  }
  &:active {
    background-color: $ds-gray-300 !important;
    opacity: 0.8;
    color: $ds-gray-900;
  }
  &:disabled {
    cursor: not-allowed !important;
    background-color: $ds-gray-400 !important;
  }
}
