@import '@/styles/app/variables.scss';

.ds-icon-button {
  transition: all 200ms;
  border-style: none;
  background-color: $ds-white;
  border: 1px solid $ds-gray-400;
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;

  &:hover {
    background: linear-gradient($ds-gray-100, $ds-gray-200) !important;
    opacity: 0.9;
    color: $ds-gray-800;
  }
  &:focus {
    background: linear-gradient($ds-gray-200, $ds-gray-300) !important;
    opacity: 0.8;
    color: $ds-gray-900;
  }
  &:active {
    background: linear-gradient($ds-gray-200, $ds-gray-300) !important;
    opacity: 0.8;
    color: $ds-gray-900;
  }
  &:disabled {
    cursor: not-allowed !important;
    background: linear-gradient($ds-gray-300, $ds-gray-400) !important;
  }
}
