@import '@/styles/app/variables';

.ds-tagger {
  &__tags {
    position: absolute;
    top: 0.775rem;
    right: 0;
    overflow: hidden;
    display: flex;
    overflow: hidden;
    width: calc(100% - 100px);
  }
  &__input {
    width: 100%;
    height: 3.352rem;
    & > * {
      padding-left: 0.775rem !important;
      border-color: #dbdfe9 !important;
      border-radius: 0.475rem !important;
    }
    & *::placeholder {
      color: $ds-gray-500 !important;
      font-weight: 500;
    }
    & * {
      color: $ds-gray-700 !important;
      font-weight: 500 !important;
      outline: none !important;
      box-shadow: none !important;
    }
    &:hover > * {
      border-color: #c4cada !important;
    }
    &:focus > * {
      border-color: #c4cada !important;
    }
  }
}
