.ds-modal-form {
  width: 100% !important;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  & * {
    width: 100% !important;
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
