.ds-card {
  width: 100%;
  border-radius: 0.475rem;
  background-color: $ds-white;
  padding: 20px !important;
  gap: 20px;
}

.ds-form {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: calc(100% - 190px) 170px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  & * {
    height: 42px !important;
  }
}
