@import '@/styles/app/variables.scss';

.ds-radio {
  border-style: none;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: flex;
  background-color: $ds-gray-100;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $ds-gray-200;
  }
  &__container {
    background-color: $ds-white;
  }
  border: 1px solid $ds-gray-300;
  & > div {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: $ds-primary;
  }
  &--selected {
    border-color: $ds-primary;
  }
  &-label {
    color: $ds-gray-700;
    font-weight: 500;
    &--selected {
      color: $ds-primary;
    }
  }
}
