@import '@/styles/app/variables.scss';

.ds-sorter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  background-color: transparent;
  outline: none;
  gap: 4px;
  & > span {
    color: $ds-gray-900;
    font-weight: 600;
    text-align: right;
  }
  &-box {
    display: flex;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $ds-gray-200;
    border-radius: 0.475rem;
  }
}
